@(storyForm: Form[Story])

@import helper._

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/form.css")"/>
</head>
<body>
<fieldset>
    <legend>Create a Story</legend>
@form(action = routes.StoryTeller.submit) {
    @inputText(storyForm("id"))
    @inputText(storyForm("title"))
    @helper.input(storyForm("body")) { (id, name, value, args) =>
        <textarea rows="20" cols="20" name="@name" id="@id" @toHtmlArgs(args)></textarea>
    }
<input type="submit" value="Create"/>
}
</fieldset>
</body>
</html>
